{extend name="public:base" /}
{block name="content"}
<link rel="stylesheet" href="__ADMIN__/css/index.css" />
<div>
	<div class="page-header">
		<h1>
			{$breadcrumb1}
			<small>
				<i class="ace-icon fa fa-angle-double-right"></i>
				{$breadcrumb2}
			</small>
		</h1>
	</div>
	<div class="col-xs-3"></div>
	<form id="form" class="col-xs-6">
		<div class="form-horizontal">
			<div class="form-group">
				<label class="col-sm-2 control-label no-padding-left">银行卡号 </label>
				<div class="col-sm-10">
					<div class="clearfix">
						<input type="text" name="cardNo" id="cardNo" value="" maxlength="25" class="form-control"/>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label no-padding-left">用户姓名 </label>
				<div class="col-sm-10">
					<div class="clearfix">
						<input type="text" name="name" id="name" value="" maxlength="32" class="form-control"/>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label no-padding-left">身份证号 </label>
				<div class="col-sm-10">
					<div class="clearfix">
						<input type="text" name="idCardNo" id="idCardNo" value="" maxlength="18" class="form-control"/>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label no-padding-left">手机号 </label>
				<div class="col-sm-10">
					<div class="clearfix">
						<input type="text" name="phoneNo" id="phoneNo" value="" class="form-control" maxlength="11"/>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label no-padding-left">金额(元) </label>
				<div class="col-sm-10">
					<div class="clearfix">
						<input type="text" name="amount" id="amount" value="" class="form-control" maxlength="11"/>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label no-padding-left">扣款目的 </label>
				<div class="col-sm-10">
					<div class="clearfix">
						<input type="text" name="purpose" id="purpose" class="form-control" value="" maxlength="32"/>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label no-padding-left">子协议 </label>
				<div class="col-sm-10">
					<div class="clearfix">
						<input type="text" name="subContractId" id="subContractId" value="" class="form-control col-sm-8" maxlength="11" style="width:66.66666666666%"/>
						<button id="scOrder" class="btn btn-sm btn-primary col-sm-4">获取子协议</button>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label no-padding-left">订单号 </label>
				<div class="col-sm-10">
					<div class="clearfix">
						<input type="text" name="orderId" id="orderId" class="form-control" readonly value="{$order}"/>
					</div>
				</div>
			</div>

		</div>
		<div class="form-group">
			<label class="col-sm-4 control-label no-padding-left"> </label>
			<div class="col-sm-8">
				<button type="submit" id="send" class="btn btn-sm btn-primary" style="width:120px;margin-right:30px">提交</button>
				<button type="reset" id="reset" class="btn btn-sm btn-primary" style="width:120px">重置</button>
			</div>
		</div>
	</form>
</div>
{/block}

{block name="javascript"}
<script>
	//获取订单号
	$('#scOrder').on('click', function(){
		var postdata = {
			'cardNo': $('#cardNo').val(),
			'name': $('#name').val(),
			'idCardNo': $('#idCardNo').val(),
			'phoneNo': $('#phoneNo').val(),
		};
		$.ajax({
			url: "{:url('Yinsheng/get_scOrder')}",
			type: 'post',
			dataType: 'json',
			data: postdata,
			success: function(res){
				if(res.result_code == '0000' && res.status == '00') {
					$('#subContractId').val(res.subContractId);
				}else{
					alert(res.result_msg);
				}
			},
			error: function(){
				alert('服务器出错');
			}
		});
		return false;
	});

	//提交
	$('#form').on('submit', function(){
		var postdata = {
			'cardNo': $('#cardNo').val(),
			'name': $('#name').val(),
			'idCardNo': $('#idCardNo').val(),
			'phoneNo': $('#phoneNo').val(),
			'amount': $('#amount').val(),
			'purpose': $('#purpose').val(),
			'subContractId': $('#subContractId').val(),
			'orderId': $('#orderId').val(),
		};
		$.ajax({
			url: "{:url('Yinsheng/yinsheng_pay')}",
			type: 'post',
			dataType: 'json',
			data: postdata,
			success: function(res){
				alert(res.result_msg);
				if(res.result_code == '0000') {
					$('#reset').click();
				}
			},
			error: function(){
				alert('服务器出错');
			}
		});
		return false;
	})
</script>
{/block}
