/*弹框样式*/
.hide{
	display:none;
}
.mylayer .pull-right {
    float: right;
}

.mylayer a.btn {
    font-size: 14px;
    width: 110px;
    padding: 5px;
    border-radius: 2px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.mylayer a.btn.btn-default {
    color: #e8b74c;
    border: 1px solid #e8b74c;
}

.mylayer a.btn.btn-yellow,
a.btn.btn-default:hover {
    background-color: #e8b74c;
    color: #ffffff;
    border: 1px solid #e8b74c;
}

.mylayer .btn-yellow.active.focus,
.mylayer .btn-yellow.active:focus,
.mylayer .btn-yellow.active:hover,
.mylayer .btn-yellow:active.focus,
.mylayer .btn-yellow:active:focus,
.mylayer .btn-yellow:active:hover {
    color: #fff;
    background-color: #d58512;
    border: 1px solid #d58512;
}

.layer-cover {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #333333;
    opacity: 0.5;
    filter: alpha(opacity=50);
    z-index: 1099;
    top: 0;
    left: 0;
}

.mylayer {
    border-radius: 4px;
    background: #ffffff;
    position: absolute;
    font-size: 14px;
    z-index: 1100;
    top: 150px;
    left: 120px;
}

.mylayer .layer-title-b {
    padding: 12px 20px;
    border-bottom: 1px solid #dbdbdb;
    text-align: left;
}

.mylayer .layer-title-close {
    width: 15px;
    height: 16px;
    background: url('../images/close.png') 0 0 no-repeat;
    display: inline-block;
    cursor: pointer;
}

.mylayer .layer-content {
    padding: 20px;
    margin-bottom: 36px;
}

.mylayer .layer-btns {
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    padding: 0px 20px 25px;
    width: 100%;
}

.mylayer .layer-btns a:not(:first-child) {
    margin-left: 15px;
}
